######################################
# Build
######################################
bin/
obj/

######################################
# Visual Studio
######################################
.vs/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

######################################
# Rider
######################################
.idea/

######################################
# VS Code
######################################
.vscode/

######################################
# Logs
######################################
*.log
logs/
Logs/

######################################
# Test
######################################
TestResults/

######################################
# NuGet
######################################
packages/
*.nupkg

######################################
# Publish
######################################
publish/

######################################
# Environment
######################################
.env
.env.*
appsettings.Local.json

######################################
# OS
######################################
.DS_Store
Thumbs.db
